/*#region Sidenav Logo*/
a.brand-logo .text-image {
    padding-left: initial;
    position: relative;
    top: -2.5px;
}
/*#endregion*/

/*#region Typography*/
bold-text {
    font-weight: bold !important; 
}

.navbar-light span {
    color: rgba(0, 0, 0, .87);
}

.clickable-list {
    text-decoration: initial;
    color: initial;
}
/*#endregion*/

/*collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) .circle {
    position: absolute;
    left: 15px;
    display: inline-block;
    overflow: hidden;
    width: 42px;
    height: 42px;
    vertical-align: middle;
}*/