/*#region App Theme*/
#cadenzapp .sidenav-main {
    background-color: #41476C;
}

#cadenzapp .sidenav-main .brand-sidebar {
    background-color: initial;
}

#cadenzapp .sidenav li a.active {
    background: #DF617F;
}

.app-accent {
    background-color: #DF617F;
}

.text-app-accent {
    color: #DF617F;
}

button.btn.app-accent:focus {
    background-color: #DF617F;
}

button.btn.app-accent:hover {
    background-color: #f68ca5;
}

button.btn.app-accent:active {
    background-color: #b93857;
}
/*#endregion*/

/*#region Sidenav Logo*/
a.brand-logo .text-image {
    padding-left: initial;
    position: relative;
    top: -2.5px;
}
/*#endregion*/

/*#region Typography*/
.bold-text {
    font-weight: bold !important; 
}

.navbar-light span {
    color: rgba(0, 0, 0, .87);
}

.clickable-list {
    text-decoration: initial;
    color: initial;
}

.text-clickable {
    cursor: pointer;
}
/*#endregion*/

/*collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) .circle {
    position: absolute;
    left: 15px;
    display: inline-block;
    overflow: hidden;
    width: 42px;
    height: 42px;
    vertical-align: middle;
}*/