@{ 
    ViewBag.IconJPG = "/images/icon/jpg-image.png";
    ViewBag.IconPDF = "/images/icon/pdf-image.png";
    ViewBag.IconDOC = "/images/icon/doc-image.png";
}

<!-- content-right start -->
<div class="content-right">
    <!-- file manager main content start -->
    <div class="app-file-area">
        <!-- File App Content Area -->
        <!-- App File Header Starts -->
        <div class="app-file-header">
            <!-- Header search bar starts -->
            <div class="sidebar-toggle show-on-medium-and-down mr-1 ml-1">
                <i class="material-icons">menu</i>
            </div>
            <div class="app-file-header-search">
                <div class="input-field m-0">
                    <i class="material-icons prefix">search</i>
                    <input type="search" id="email-search" placeholder="Search email">
                </div>
            </div>
            <!-- Header search bar Ends -->
            <!-- Header Icons Starts -->
            <div class="app-file-header-icons display-flex align-items-center">
                <div class="fonticon-wrap display-inline">
                    <i class="material-icons">person_outline</i>
                </div>
                <div class="fonticon-wrap display-inline">
                    <i class="material-icons">delete</i>
                </div>
                <div class="fonticon-wrap display-inline ">
                    <i class="material-icons">more_vert</i>
                </div>
            </div>
            <!-- Header Icons Ends -->
        </div>
        <!-- App File Header Ends -->
        <!-- App File Content Starts -->
        <div class="app-file-content">
            <h6 class="font-weight-700 mb-3">All Files</h6>

            <!--#region Recently Accessed Files-->
            <span class="app-file-label">Recently Accessed Files</span>
            <div class="row app-file-recent-access mb-3">
                <div class="col xl3 l6 m3 s12">
                    <div class="card box-shadow-none mb-1 app-file-info">
                        <div class="card-content">
                            <div class="app-file-content-logo grey lighten-4">
                                <div class="fonticon">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <img class="recent-file" src="@ViewBag.IconPDF" height="38" width="30" alt="Card image cap">
                            </div>
                            <div class="app-file-details">
                                <div class="app-file-name font-weight-700">Canon-Sheet.pdf</div>
                                <div class="app-file-size">3.60 MB</div>
                                <div class="app-file-last-access">Last accessed : 3 hours ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--#endregion -->

            <!--#region Folder Section-->
            <span class="app-file-label">Folder</span>
            <div class="row app-file-folder mb-3">
                <div class="col xl3 l6 m4 s6">
                    <div class="card box-shadow-none mb-1 app-file-info">
                        <div class="card-content">
                            <div class="app-file-folder-content cursor-pointer display-flex align-items-center">
                                <div class="app-file-folder-logo mr-3">
                                    <i class="material-icons">folder_open</i>
                                </div>
                                <div class="app-file-folder-details">
                                    <div class="app-file-folder-name font-weight-700">Music</div>
                                    <div class="app-file-folder-size">10 files, 134mb</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col xl3 l6 m4 s6">
                    <div class="card box-shadow-none mb-1 app-file-info">
                        <div class="card-content">
                            <div class="app-file-folder-content cursor-pointer display-flex align-items-center">
                                <div class="app-file-folder-logo mr-3">
                                    <i class="material-icons">folder_open</i>
                                </div>
                                <div class="app-file-folder-details">
                                    <div class="app-file-folder-name font-weight-700">Sheets</div>
                                    <div class="app-file-folder-size">12 files, 14.05mb</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col xl3 l6 m4 s6">
                    <div class="card box-shadow-none mb-1 app-file-info">
                        <div class="card-content">
                            <div class="app-file-folder-content cursor-pointer display-flex align-items-center">
                                <div class="app-file-folder-logo mr-3">
                                    <i class="material-icons">folder_open</i>
                                </div>
                                <div class="app-file-folder-details">
                                    <div class="app-file-folder-name font-weight-700">Video</div>
                                    <div class="app-file-folder-size">130 files, 890mb</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--#endregion-->

            <!--#region Files Section-->
            <label class="app-file-label">Files</label>
            <div class="row app-file-files">
                <div class="col xl3 l6 m3 s6">
                    <div class="card box-shadow-none mb-1 app-file-info">
                        <div class="card-content">
                            <div class="app-file-content-logo grey lighten-4">
                                <div class="fonticon">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <img class="recent-file" src="@ViewBag.IconJPG" height="38" width="30" alt="Card image cap">
                            </div>
                            <div class="app-file-details">
                                <div class="app-file-name font-weight-700">Banner.jpg</div>
                                <div class="app-file-size">13 kB</div>
                                <div class="app-file-type">Image File</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col xl3 l6 m3 s6">
                    <div class="card box-shadow-none mb-1 app-file-info">
                        <div class="card-content">
                            <div class="app-file-content-logo grey lighten-4">
                                <div class="fonticon">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <img class="recent-file" src="@ViewBag.IconPDF" height="38" width="30" alt="Card image cap">
                            </div>
                            <div class="app-file-details">
                                <div class="app-file-name font-weight-700">Canon-Sheet.pdf</div>
                                <div class="app-file-size">3.60 MB</div>
                                <div class="app-file-type">PDF document</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col xl3 l6 m3 s6">
                    <div class="card box-shadow-none mb-1 app-file-info">
                        <div class="card-content">
                            <div class="app-file-content-logo grey lighten-4">
                                <div class="fonticon">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <img class="recent-file" src="@ViewBag.IconDOC" height="38" width="30" alt="Card image cap">
                            </div>
                            <div class="app-file-details">
                                <div class="app-file-name font-weight-700">Assignment-Specification.docx</div>
                                <div class="app-file-size">3.4 MB</div>
                                <div class="app-file-type">Word document</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- App File - Files Section Ends -->
        </div>
    </div>

    <!-- file manager main content end  -->
</div>
<!-- content-right end -->