<div class="card">
    <div class="card-content">
        <h4 class="card-title">
            Practice Hours
            <button class="toggleBtn waves-effect waves-light app-accent btn right">Toggle Display</button>
        </h4>
        <div class="divider mt-2 mb-2 col s12"></div>

        <div id="chart-container" class="display-none row">
            <div class="col s12 m10 push-m1 l8 push-l2">
                <div class="card-image">
                    <img src="@Url.Content("~/images/practiceHours2.png")">
                </div>
            </div>
        </div>
        <div id="table-container">
            <div id="table-wrapper" class="display-none">
                <table id="table" class="display">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Length</th>
                            <th>Instrument</th>
                            <th>Song</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>