
@{
    ViewData["Title"] = "Students List";
}

@section Styles {
    <link rel="stylesheet" href="~/css/user-view.css" />
}

<div>
    <button class="btn waves-effect app-accent">
        Add student
    </button>

    <div class="row">
        <div class="col s12 l4">
            <div class="card">
                <div class="card-content">
                    <h1 class="bold-text card-title">
                        Student List
                    </h1>

                    <div class="divider mb-6"></div>

                    <ul class="collection">
                        <li class="collection-item avatar">
                            <a href="#" class="clickable-list">
                                <img src="@Url.Content("~/images/photos/anne.png")" class="circle">
                                <span class="title">Anne Campbell</span>
                                <p>Lorem</p>
                            </a>
                        </li>
                        <li class="collection-item avatar">
                            <a href="#" class="clickable-list">
                                <img src="@Url.Content("~/images/photos/user1.png")" class="circle">
                                <span class="title">Peter Evans</span>
                                <p>Lorem</p>
                            </a>
                        </li>
                        <li class="collection-item avatar">
                            <a href="#" class="clickable-list">
                                <img src="@Url.Content("~/images/photos/user6.png")" class="circle">
                                <span class="title">Sarah Brown</span>
                                <p>Lorem</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 l8">
            <partial name="_UserView" />
        </div>
    </div>
</div>

<partial name="_TaskForm" />

@section Scripts {
    <script type="text/javascript" src="~/js/form-extension.js"></script>
    <script type="text/javascript" src="~/js/Students/student-info.js"></script>
    <script type="text/javascript" src="~/js/Students/tasks.js"></script>
}