<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewBag.Title</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" href="@Url.Content("~/images/favicon.png")" sizes="32x32" type="image/png">
<link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
<link rel="stylesheet" href="~/lib/materialize/css/style.css" />
<link rel="stylesheet" href="~/css/fonts.css" />
<link rel="stylesheet" href="~/lib/materialize/vendors/data-tables/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/lib/materialize/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="~/lib/materialize/vendors/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/site.css" />