<aside class="sidenav-main nav-collapsible sidenav-dark sidenav-active-rounded nav-lock">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1" href="~">
                <img class="hide-on-med-and-down" src="@Url.Content("~/images/wireframe.png")" alt="CadenzApp logo">
                <img class="show-on-medium-and-down hide-on-med-and-up" src="@Url.Content("~/images/wireframe.png")" alt="CadenzApp logo">
                <span class="logo-text hide-on-med-and-down">CadenzApp</span>
            </a>
            <a class="navbar-toggler" href="#">
                <i class="material-icons">radio_button_checked</i>
            </a>
        </h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
        <li class="bold">
            <a class="waves-effect waves-cyan" href="">
                <i class="material-icons">home</i> Dashboard
            </a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan" href="">
                <i class="material-icons">people</i> Students
            </a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan" href="">
                <i class="material-icons">today</i> Lessons Planner
            </a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan" href="">
                <i class="material-icons">contacts</i> Contact
            </a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan" href="">
                <i class="material-icons">folder</i> Files
            </a>
        </li>
    </ul>
    <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>