<div class="collection email-collection">
    <div class="email-brief-info collection-item animate fadeUp delay-1">
        <div class="list-left">
            <label>
                <input type="checkbox" name="foo" />
                <span></span>
            </label>
            <div class="favorite">
                <i class="material-icons">star_border</i>
            </div>
            <div class="email-label">
                <i class="material-icons">label_outline</i>
            </div>
        </div>
        <a class="list-content" href="#">
            <div class="list-title-area">
                <div class="user-media">
                    <img src="/images/photos/user1.png" alt="" class="circle z-depth-2 responsive-img avtar">
                    <div class="list-title">Gorge Fernandis</div>
                </div>
                <div class="title-right">
                    <span class="attach-file">
                        <i class="material-icons">attach_file</i>
                    </span>
                    <span class="badge grey lighten-3">
                        <i class="purple-text material-icons small-icons mr-2">
                            fiber_manual_record
                        </i>Note
                    </span>
                </div>
            </div>
            <div class="list-desc">
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem Ipsum
            </div>
        </a>
        <div class="list-right">
            <div class="list-date"> 12 Jan 2:03 PM </div>
        </div>
    </div>
    <div class="email-brief-info collection-item animate fadeUp delay-2">
        <div class="list-left">
            <label>
                <input type="checkbox" name="foo" />
                <span></span>
            </label>
            <div class="favorite">
                <i class="material-icons">star_border</i>
            </div>
            <div class="email-label">
                <i class="material-icons">label_outline</i>
            </div>
        </div>
        <a class="list-content" href="#">
            <div class="list-title-area">
                <div class="user-media">
                    <img src="/images/photos/user2.png" alt="" class="circle z-depth-2 responsive-img avtar">
                    <div class="list-title">Pari Kalin</div>
                </div>
                <div class="title-right">
                    <span class="attach-file">
                        <i class="material-icons">attach_file</i>
                    </span>
                    <span class="badge grey lighten-3">
                        <i class="amber-text material-icons small-icons mr-2">
                            fiber_manual_record
                        </i>Paypal
                    </span>
                </div>
            </div>
            <div class="list-desc">
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem Ipsum
            </div>
        </a>
        <div class="list-right">
            <div class="list-date"> 2 Jan 12:47 PM </div>
        </div>
    </div>
    <div class="email-brief-info collection-item animate fadeUp delay-3">
        <div class="list-left">
            <label>
                <input type="checkbox" name="foo" />
                <span></span>
            </label>
            <div class="favorite">
                <i class="material-icons">star_border</i>
            </div>
            <div class="email-label">
                <i class="material-icons">label_outline</i>
            </div>
        </div>
        <a class="list-content" href="#">
            <div class="list-title-area">
                <div class="user-media">
                    <img src="/images/photos/user3.png" alt="" class="circle z-depth-2 responsive-img avtar">
                    <div class="list-title">Alin Kystal</div>
                </div>
                <div class="title-right">
                    <span class="attach-file">
                        <i class="material-icons">attach_file</i>
                    </span>
                    <span class="badge grey lighten-3">
                        <i class="purple-text material-icons small-icons mr-2">
                            fiber_manual_record
                        </i>Note
                    </span>
                </div>
            </div>
            <div class="list-desc">
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem Ipsum
            </div>
        </a>
        <div class="list-right">
            <div class="list-date"> 30 Dec 8:18 AM </div>
        </div>
    </div>
    <div class="email-brief-info collection-item animate fadeUp delay-3">
        <div class="list-left">
            <label>
                <input type="checkbox" name="foo" />
                <span></span>
            </label>
            <div class="favorite">
                <i class="material-icons">star_border</i>
            </div>
            <div class="email-label">
                <i class="material-icons">label_outline</i>
            </div>
        </div>
        <a class="list-content" href="#">
            <div class="list-title-area">
                <div class="user-media">
                    <img src="/images/photos/user4.png" alt="" class="circle z-depth-2 responsive-img avtar">
                    <div class="list-title">John Doe</div>
                </div>
                <div class="title-right">
                    <span class="attach-file">
                        <i class="material-icons">attach_file</i>
                    </span>
                    <span class="badge grey lighten-3">
                        <i class="purple-text material-icons small-icons mr-2">
                            fiber_manual_record
                        </i>Note
                    </span>
                </div>
            </div>
            <div class="list-desc">
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem Ipsum
            </div>
        </a>
        <div class="list-right">
            <div class="list-date"> 23 Dec 6:38 AM </div>
        </div>
    </div>
    <div class="email-brief-info collection-item animate fadeUp delay-3">
        <div class="list-left">
            <label>
                <input type="checkbox" name="foo" />
                <span></span>
            </label>
            <div class="favorite">
                <i class="material-icons">star_border</i>
            </div>
            <div class="email-label">
                <i class="material-icons">label_outline</i>
            </div>
        </div>
        <a class="list-content" href="#">
            <div class="list-title-area">
                <div class="user-media">
                    <img src="/images/photos/user5.png" alt="" class="circle z-depth-2 responsive-img avtar">
                    <div class="list-title">Alisa Boyd</div>
                </div>
                <div class="title-right">
                    <span class="attach-file">
                        <i class="material-icons">attach_file</i>
                    </span>
                    <span class="badge grey lighten-3">
                        <i class="purple-text material-icons small-icons mr-2">
                            fiber_manual_record
                        </i>Note
                    </span>
                </div>
            </div>
            <div class="list-desc">
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem Ipsum
            </div>
        </a>
        <div class="list-right">
            <div class="list-date"> 21 Dec 4:21 PM </div>
        </div>
    </div>
    <div class="email-brief-info collection-item animate fadeUp delay-3">
        <div class="list-left">
            <label>
                <input type="checkbox" name="foo" />
                <span></span>
            </label>
            <div class="favorite">
                <i class="material-icons">star_border</i>
            </div>
            <div class="email-label">
                <i class="material-icons">label_outline</i>
            </div>
        </div>
        <a class="list-content" href="#">
            <div class="list-title-area">
                <div class="user-media">
                    <img src="/images/photos/user6.png" alt="" class="circle z-depth-2 responsive-img avtar">
                    <div class="list-title">Linda Brown</div>
                </div>
                <div class="title-right">
                    <span class="attach-file">
                        <i class="material-icons">attach_file</i>
                    </span>
                    <span class="badge grey lighten-3">
                        <i class="purple-text material-icons small-icons mr-2">
                            fiber_manual_record
                        </i>Note
                    </span>
                </div>
            </div>
            <div class="list-desc">
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem Ipsum
            </div>
        </a>
        <div class="list-right">
            <div class="list-date"> 19 Dec 3:21 PM </div>
        </div>
    </div>
    <div class="no-data-found collection-item">
        <h6 class="center-align font-weight-500">No Results Found</h6>
    </div>
</div>
