<div class="row">
    <div class="container">
        <form>
            <div class="input-field col s12">
                <input id="inputLogDate" type="text" class="datepicker" required>
                <label for="inputLogDate">Date <span class="red-text">*</span></label>
            </div>

            <div class="input-field col s12">
                <input id="inputLogLength" type="text" required>
                <label for="inputLogLength">Length <span class="red-text">*</span></label>
            </div>

            <div class="input-field col s12">
                <input id="inputLogInstrument" type="text" required>
                <label for="inputLogInstrument">Instrument <span class="red-text">*</span></label>
            </div>

            <div class="input-field col s12">
                <input id="inputLogSong" type="text" required>
                <label for="inputLogSong">Song <span class="red-text">*</span></label>
            </div>

            <div class="input-field col s12">
                <textarea id="inputLogDescription" type="text" placeholder="Enter any additional comments..."></textarea>
                <label for="inputLogDescription">Additional Notes</label>
            </div>
        </form>
    </div>
</div>