@{
    ViewData["Title"] = "Practice Log";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/materialize/vendors/select2/select2-materialize.css" />
}

<div>
    <div class="row">
        <div class="col s12 m7 l8">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title text-center">Add Practice Session</h4>
                </div>
            </div>
        </div>
        <div class="col s12 m5 l4">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Add Practice Session</h4>
                    <div class="divider mb-2"></div>
                    <partial name="_Forms" />
                </div>
                <div class="card-action center">
                    <button class="addBtn btn border-round grey darken-1 waves-effect waves-light">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/materialize/vendors/select2/select2.full.min.js"></script>
    <script type="text/javascript" src="~/js/form-extension.js"></script>
    <script type="text/javascript" src="~/js/Practice/practice-log.js"></script>
}